.container{width: 960px;}
.modal_bg {
    position: absolute;
    display: none;
    z-index: 100;
    left: 0;
    top: 0;
    background-color: #953b39;

}




.sq1 {
    margin: 40px 0 0 40px;
    background-color: CornflowerBlue;
    width: 140px;
    height: 140px; 
	font-size: 0.75em;
    float: left;
    cursor: pointer;
}

.sq1txt {
    padding: 10px 0 0 10px;
    background:CornflowerBlue;
    line-height: 1.5em;
    color: white;
    text-align: left;
    border: none;
}
.sq1b {
    margin: 0;
    background-color: CornflowerBlue;
    width: 580px;
    height: 580px;
   position: absolute;
    z-index: 1111;
}
.sq1b .h{display: block;
color: #ffffff;}
.sq1 .h{display: none;}
.a1{background-color: CornflowerBlue;}
/*.pop .modal_window{display: block;}*/